/.vs
/packages
/SalesReport.API/bin
/SalesReport.API/obj
/SalesReport.API/Scripts/ng
/SalesReport.API/App_Data/SalesReport.API.mdf
/SalesReport.API/App_Data/SalesReport.API_log.ldf
/TestResults
/SalesReport.API.Tests/bin
/SalesReport.API.Tests/obj
SalesReport.API/Scripts/ng
SalesReport.API/SalesReport.API.csproj.user
